[submodule "lib/takram-math"]
	path = lib/takram-math
	url = git@github.com:takram-design-engineering/takram-math.git
[submodule "lib/takram-graphics"]
	path = lib/takram-graphics
	url = git@github.com:takram-design-engineering/takram-graphics.git
[submodule "lib/takram-algorithm"]
	path = lib/takram-algorithm
	url = git@github.com:takram-design-engineering/takram-algorithm.git
[submodule "lib/defcon"]
	path = lib/defcon
	url = git@github.com:typesupply/defcon.git
[submodule "lib/python-modules"]
	path = lib/python-modules
	url = git@github.com:adobe-type-tools/python-modules.git
[submodule "lib/python-scripts"]
	path = lib/python-scripts
	url = git@github.com:adobe-type-tools/python-scripts.git
[submodule "lib/fonttools"]
	path = lib/fonttools
	url = git@github.com:behdad/fonttools.git
[submodule "lib/robofab"]
	path = lib/robofab
	url = git@github.com:robofab-developers/robofab.git
[submodule "lib/afdko"]
	path = lib/afdko
	url = git@github.com:adobe-type-tools/afdko.git
[submodule "lib/sfntly"]
	path = lib/sfntly
	url = git@github.com:googlei18n/sfntly.git
