[submodule "lib/takram-math"]
	path = lib/takram-math
	url = git@github.com:takram-design-engineering/takram-math.git
[submodule "lib/takram-graphics"]
	path = lib/takram-graphics
	url = git@github.com:takram-design-engineering/takram-graphics.git
[submodule "lib/takram-algorithm"]
	path = lib/takram-algorithm
	url = git@github.com:takram-design-engineering/takram-algorithm.git
[submodule "lib/sparkle"]
	path = lib/sparkle
	url = git@github.com:sparkle-project/Sparkle.git
