// The MIT License
// Copyright (C) 2013-Present Shota Matsuda

#include "project.xcconfig"

// Build Options
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES
VALIDATE_PRODUCT = NO

// Deployment
COPY_PHASE_STRIP = NO

// Apple LLVM - Code Generation
GCC_OPTIMIZATION_LEVEL = 0
GCC_FAST_MATH = NO

// Apple LLVM - Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1

// Swift Compiler - Code Generation
SWIFT_OPTIMIZATION_LEVEL = -Onone

// User-Defined
MTL_ENABLE_DEBUG_INFO = YES
